body {background-color: black;
color: whitesmoke;
background-image: url(images/background.jpg);

}

.title1 {
color: white;
font-size: 35px;
letter-spacing: 1px;
cursor: pointer;

}
.my-name {color: white;
	margin: 20px 0px 20px;
	font-size: 75px;}
